.App {
    width: 400px;
    margin:10px auto;
    text-align: center;
}
.h1 {
    font-size: 1em;
}

.container {
    margin: 0 auto;/*центрируем ее*/
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}